<div id="<%= dom_id todo %>">
  <div>
    <strong>Content:</strong>
    <%= todo.content %>
  </div>

  <div>
    <strong>Goal:</strong>
    <%= todo.goal_id %>
  </div>

  <div>
    <strong>Position:</strong>
    <%= todo.position %>
  </div>

  <div>
    <strong>Done:</strong>
    <%= todo.done %>
  </div>

</div>
